---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?key&q=New%20York,%20NY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"results":[],"status":{"code":401,"message":"missing
        API key"},"stay_informed":{"blog":"https://blog.opencagedata.com","mastodon":"https://en.osm.town/@opencage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Wed, 27 Aug 2025 02:34:14
        GMT","created_unix":1756262054},"total_results":0}'
  recorded_at: Wed, 27 Aug 2025 02:34:14 GMT
recorded_with: VCR 6.3.1
