<div class="weather-container">
  <h1>Weather Forecast</h1>
  <p>Enter an address or city to see the forecast.</p>

  <%= form_with url: weather_index_path, method: :post do %>
    <div class="weather-form">
      <%= text_field_tag :address, params[:address], placeholder: "e.g. 1 Apple Park Way,Cupertino" %>
      <button type="submit" data-weather-target="button">Get forecast</button>
    </div>
  <% end %>

  <%= turbo_frame_tag "forecast" do %>
  <% end %>
</div>
